<% provide :title, full_title(t(".title")) %>

<body>
  <%= render "shared/swipe", track: @genre_support.track,
    genres_map: @genre_support.genres_map %>
  <div class="container contant">
    <div class="row">
      <div class="site-overlay"></div>
      <div class="col-md-12 basic">
        <%= render "shared/header" %>
        <%= render "shared/flash" %>
        <div class="place-li-cont">
          <h1><%= t ".category" %> <%= @genre.name %></h1>
          <p class="lead"><%= t ".enjoy" %></p>
          <ul class="blog-cat">
            <% @genre_support.genres.each do |g| %>
              <li>
                <%= link_to genre_path(g),
                  class: "showplace", method: :get do %>
                  <i class="fa fa-music"></i> <%= g.name %>
                <% end %>
              </li>
            <% end %>
          </ul>

          <div class="audio-players">
            <%= render "shared/track",
              track_index: @genre_support.tracks_genre %>
          </div>
        </div>
        <%= link_to t(".load"), "#", class: "more-btn" %>
      </div>
    </div>
  </div>
</body>
