<div class="add-place none autorized">
  <div class="place-form login-form">
    <i class="fa fa-times close-window closeau"></i>
    <h3><%= t ".login" %><span></span></h3>
    <%= form_for resource, as: resource_name,
      url: session_path(resource_name) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>

      <%= f.submit t(".login"), class: "btn btn-success log-btn" %>
    <% end %>
  </div>
</div>
