<div class="menu-btn">&#9776;</div>
<nav class="pushy pushy-left">
  <div class="profile">
    <div class="avatar"><img src="http://i.imgur.com/8Hob1Ge.jpg" alt="#">
      <span>5</span>
    </div>
    <h3><%= link_to t(".not_login"), "#" %></h3>
    <button class="log-btn login"><%= t ".login" %></button>
  </div>
  <ul class="side-menu">
    <li><%= link_to t(".index_page").html_safe, "/" %></li>
    <li>
      <%= link_to t(".upload_track_i").html_safe, new_track_path %>
    </li>
    <li><%= link_to t(".artist").html_safe, "/pages/artist" %></li>
  </ul>
</nav>

<div class="add-place none pl">
  <div class="place-form">
    <i class="fa fa-times close-window close"></i>
    <h3><%= t ".upload_your" %><span></span></h3>
    <%= form_for @track do |t| %>
      <%= t.label :title do %>
        <%= t ".title" %>
        <%= t.text_area :title %>
      <% end %>

      <%= t.label :description do %>
        <%= t ".description" %>
        <%= t.text_area :description %>
      <% end %>

      <%= t.label :genre do %>
        <%= t ".genre" %>
        <%= t.select :genre_id, Genre.all.collect {|g| [g.name, g.id]} %>
      <% end %>

      <div class="upload-btn upload-btn-notform  btn btn-default">
        <%= t ".upload_track" %>
      </div>
      <%= t.label :song, class: "file-upload" do %>
        <%= t.file_field :song, class: "hidden-file selectedFile" %>
      <% end %>

      <%= t.hidden_field :user_id, value: 1 %>

      <%= t.submit t(".upload"), class: "green-btn-header" %>
    <% end %>
  </div>
</div>

<%= render("shared/login_form") %>
