<div class="menu-btn">&#9776;</div>
<nav class="pushy pushy-left">
  <% if current_user %>
    <div class="profile">
      <div class="avatar"><img src="http://i.imgur.com/8Hob1Ge.jpg" alt="#">
      </div>
      <h3><%= link_to current_user.name,
        users_show_path(id: current_user.id), method: :get %></h3>
      <%= link_to t(".logout"), destroy_user_session_path , method: :delete,
        class: "log-btn" %>
    </div>
  <% else %>
    <div class="profile">
      <h3><%= link_to t(".not_login"), "#", method: :get %></h3>
        <%= link_to t(".login"), "#", class: "log-btn login", method: :get %>
    </div>
  <% end %>
  <ul class="side-menu">
    <li><%= link_to t(".index_page").html_safe, "/", method: :get %></li>
    <li>
      <%= link_to t(".upload_track_i").html_safe, new_track_path,
        method: :get %>
    </li>
    <li><%= link_to t(".artist").html_safe,
      "/pages/artist", method: :get %></li>
  </ul>
</nav>

<% if current_user %>
<div class="add-place none pl">
  <div class="place-form">
    <i class="fa fa-times close-window close"></i>
    <h3><%= t ".upload_your" %><span></span></h3>
    <%= form_for track do |t| %>
      <%= t.label :title %>
      <%= t.text_area :title %>

      <%= t.label :description %>
      <%= t.text_area :description %>

      <%= t.label :genre %>
      <%= t.select :genre_id, genres_map.genres_collect %>

      <%= t.label :song, class: "file-upload" %>
      <%= t.file_field :song, class: "hidden-file selectedFile" %>

      <div class="upload-btn upload-btn-notform btn btn-default">
        <%= t ".upload_track" %>
      </div>

      <%= t.submit t(".upload"), class: "green-btn-header" %>
    <% end %>
  </div>
</div>
<% end %>

<%= render("shared/login_form") %>
