<% provide :title, full_title(t(".title")) %>

<body>
  <%= render "shared/swipe", track: @track %>
  <div class="container contant">
    <div class="row">
      <div class="site-overlay"></div>
      <div class="col-md-12 basic">
        <%= render "shared/header" %>
        <%= render "shared/flash" %>
        <div class="place-li-cont">
          <h1><%= t ".welcome" %> <%= current_user.name %></h1>
          <p class="lead"><%= t ".enjoy" %></p>
          <ul class="blog-cat">
            <% @genres.each do |g| %>
            <li>
              <a href="#" class="showplace">
              <i class="fa fa-eye"></i><%= g.name %>
              </a>
            </li>
            <% end %>
          </ul>

          <div class="audio-players">
            <%= render "shared/track", track_index: @track_index %>
          </div>
        </div>
        <a href="#" class="more-btn"><%= t ".load" %></a>
      </div>
    </div>
  </div>
</body>
